/* Importando fonte para os textos do google fontess */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Resetando as configurações padrões do navegador */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --fonte-titulos: "Roboto Mono", sans-serif;
    --fonte-paragrafos: "MontSerrat", sans-serif;
}
/* Cabecalho */
#cabecalho{

}

.container_navBar{
    background-color: rgb(28, 128, 216);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
    width: 100% !important;

}

.container_navBar__lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.logo{
    border: none;
    border-radius: 50%;
    width: 100px;
    cursor: pointer;
}

.img-logo {
    border-radius: 30%;
    object-fit: cover;
    width: 60px;
    height: 60px;
    
}


.container_nabBar__lista___item li{
    color: aliceblue;
    font-size: 1.3rem;
    list-style: none;
    transition: 600ms;
}

.container_nabBar__lista___item li:hover{
    color: brown;
}




/* Conteúdo principal */

/* Conteúdo Bem vindos */

.conteudo{

}

.conteudo_bemVindos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#titulo_principal{
    font-size: 25px;
    font-family: var(--fonte-titulos);
    text-align: center;
    margin-bottom: 50px;
}

.imagem_bemVindos{
    width: 60%;
}

.paragrafos{
    font-size: 1.4rem;
    font-family: var(--fonte-paragrafos);
    margin-top: 20px;
    max-width: 60%;
    text-align: center;
    
}
@media screen and (max-width: 1300px) {
    .paragrafos{
        max-width: 100%;
    }
}
.card-img-top{
    height: 200px;
}
.card-body{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: red;
}
button{
    border: none;
}
/* Conteúdo doe */
.conteudo_doe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem-doe{
    width: 200px;
    flex-direction: column;
}

/* Conteudo formulario */
.conteudo_voluntario{
    background-color: rgb(28, 128, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.conteudo_formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.inputs{
    width: 60%;
}