body {
    background-color: rgb(252, 249, 237);
    color: rgb(19, 19, 19);
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#logo img {
    width: 120px;
    height: auto;
    filter: none;
}


/* Estilos para alinhar o menu horizontalmente */
.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-cabecalho {
    margin-right: 25px;
}

.li-cabecalho a {
    text-decoration: none;
    color: black;
}





a {
    color: rgb(0, 105, 62);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 105, 62);
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

#subscribe-btn {
    border: 2px solid rgb(0, 105, 62);
    padding: 10px;
}

h1 {
    font-weight: bold;
    color: red;
    font-size: 30px;
    filter: drop-shadow(2px 2px 1px rgb(43, 43, 43));
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.section-mapa {
    
}

aside {
    margin: 20px 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(206, 32, 41);
}

p {
    line-height: 1.5;
    max-width: 500px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.6));
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    margin-top: 10px; 
    padding: 10px; 
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="submit"], .send-btn {
    height: 40px; 
    background-color: rgb(206, 32, 41);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px; 
    width: 50%;
    max-width: 200px;
    align-self: center; 
}

input[type="submit"]:hover, .send-btn:hover {
    background-color: rgb(255, 199, 199);
    color: rgb(255, 0, 13);
}



.section-voluntario {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; 
    margin: 0 auto;
}


.form-dados {
    width: 100%; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.input-dados {
    width: calc(100% - 20px); 
    max-width: 400px;
    margin: 10px 0; 
    padding: 15px; 
    border-radius: 20px; 
    border: 1px solid #ccc;
}

.send-btn {
    width: calc(100% - 20px);
    max-width: 400px;
    margin-top: 10px;
    padding: 15px; 
    border-radius: 20px; 
    background-color: rgb(206, 32, 41);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none; 
    cursor: pointer; 
}

.btn-color:hover {
    color: aqua;
}

.send-btn:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(206, 32, 41);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px; 
    padding: 20px 0;
}

.current-year {
    text-align: center;
    margin-top: 20px; 
    font-size: 0.9rem;
    color: rgb(19, 19, 19); 
}




@media (min-width: 768px) {
    main {
        flex-direction: row; 
    }
    aside, article {
        flex: 1;
        margin: 20px; 
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    .send-btn {
        width: 90%;
    }
}
